*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.list_and_text{
    width: 300px;
}
ul{
    display: flex;
    list-style: none;
}
ul li{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: antiquewhite;
}
ul li:hover{
    cursor: pointer;
}
.text{
    border: 1px solid;
    display: inline-block;
}
.text .text1{
    display: block;
}
.text .text2{
    display: none;
}
.text .text3{
    display: none;
}
.active_menu{
    background-color: black;
    color: white;
    border: 1px solid;
}
