*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.top-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0b2c3d;

}
.top-head-left{
    margin-left: 30px;
    color: white;
}
.top-head-left i{
    color: orangered;
}
.top-head-left span:hover{
color: orangered;
cursor: pointer;
transition: 0.5;
}
.top-head-right{
    margin-right: 30px;
    display: flex;


}
.top-head-right ul{
    list-style: none;
    display: flex;
    color: white;
}
.top-head-right ul li{
    margin-right: 10px;
}
.top-head-right ul li:hover{
cursor: pointer;
}

.top-head-right button{
    margin-left: 20px;
    padding: 0 20px;
    background-color: rgb(255, 69, 0);
    border: none;
}
.top-head-right button:hover{
background-color: rgb(179, 49, 2);
cursor: pointer;
transition: 0.5;
}
/* -------header bottom side-------- */
.bott-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.bott-head .logo{
margin-left: 30px;
}
.bott-head .menu{

}

.bott-head .menu a{
text-decoration: none;
margin-left: 15px;
color: black;
}
.bott-head .search-side{
    display: flex;
    margin-right: 30px;

}
.bott-head .search-side div{
    box-shadow: 1px 1px 1px gray;
    padding: 15px;
    margin-left: 10px;
}
.bott-head .search-side div:hover{
background-color: orangered;
color: white;
transition: all 0.5s;
}
/* -----------Footer---------- */
.top-foot{
    width: 100%;
    padding: 0 30px;
    display: flex;
    background-color: #0b2c3d;
    color: white;

}
.top-foot .quarter{
    width: 20%;
}
.top-foot .quarter span{
    display: block;
    margin-top: 10px;
}
.top-foot .quarter span i{
    margin-right: 5px;
}


.top-foot .quarter ul{
    list-style: none;
    display: flex;
}
.top-foot .quarter ul li{
    margin-right: 10px;
}

.top-foot .comp-serv-cust{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.top-foot .newsletter{
    width: 20%;
}
.top-foot .newsletter div{
    display: flex;
    align-items: center;
}

.top-foot .newsletter div i{
    background-color: orangered;
    padding: 12px;
}
.top-foot .newsletter div i:hover{
    background-color: black;
}

.top-foot .comp-serv-cust .services{
    box-sizing: border-box;
}
.top-foot .comp-serv-cust p:hover{
    color: orangered;
    cursor: pointer;
    
}
.top-foot .comp-serv-cust p::before{
    content: "//";
    visibility: hidden;
    color: orangered;

}
.top-foot .comp-serv-cust p:hover::before{
    visibility: visible;
    margin-right: 10px;
    transition: all 0.5s;
}

